<h1><%= t("editing_wishlist") %></h1>
<%= form_for @wishlist do |f| %>
  <p><%= f.label :name, t(:name) %>:&nbsp;<%= f.text_field :name %></p>
  <% if Spree::Wishlist::Config[:allow_public_lists] %>
  <p><%= f.check_box :is_private %>&nbsp;<%= f.label :is_private, t(:is_private) %></p>
  <% else %>
  <%= f.hidden_field :is_private, :value => 1 %>
  <% end %>
  <% if Spree::Wishlist::Config[:allow_multiple_lists] && current_user.wishlists.count > 1 %>
  <p><%= f.check_box :is_default %>&nbsp;<%= f.label :is_default, t(:is_default) %></p>
  <% else %>
  <%= f.hidden_field :is_default, :value => 1 %>
  <% end %>
  <%= f.submit t(:update) %> 
  <% if current_user.wishlists.count > 1 %>
    <%= t :or %> <%= link_to t("delete_wishlist"), @wishlist, :method => :delete, :confirm => t('are_you_sure_wishlist') %>
  <% end %>
<% end -%>
